{% extends "WhosThatIdolBundle:Default:layout.html.twig" %}

{% block content %}
    <div class="row" style="margin-bottom: 1rem;">
        <div class="col-lg-12">
            {% block fos_user_content %}
            {% endblock fos_user_content %}
        </div>
    </div>
{% endblock %}